<!DOCTYPE html>
<html lang="es">

<head>
    <title>ROYAL FILMS</title>
</head>

    <body>
        <div>class="contenedor">
        <header>"class=cabecera">
            <nav>clas="navegacion">
                <ul id="Menú">
                    <li> <a href="/">Películas</a> </li>
                    <li><a href="/mis_peliculas">Mis funciones</a></li>
            </nav>
            <nav>
                <ul>
                <ul id="Usuario">
                <li> <a href="/">Cerrar sesión</a> </li>
            </nav>
            <h1>Peril de Usuario</h1> <img =src:"C\"


        <form action="/perfil" method="POST">
        {{ csrf_token }}
        <lebel for="">Nombres</lebel>
        <input type="Nombre"  placeholder="Nombre">
        <br>
        <br>
        <lebel for="">Apellidos</lebel>
        <input type="Apellidos"  placeholder="Apellidos">
        <br>
        <br>
        <lebel for="">e-mail</lebel>
        <input type="email" placeholder="Ecribir tu correo">
        <br>
        <br>
        <lebel for="">Teléfono</lebel>
        <input type="Teléfono" placeholder="Teléfono"
        maxlength="10">
        <br>
        <br>
        <input type="submit" name="Cambiar" value"Cambiar">
        </form>
    </body>
</html>



    
